@import "tailwindcss";

/* Dont download fonts, use the google font clases */

@theme {
  --font-garamond: "TitleFont";
  --font-gomies: "thegomies";
  --font-google-sans: "googlesans";
}

html, body {
  background-color: #000000;
}

#smooth-wrapper {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#smooth-wrapper.is-touch-device {
  position: relative;
  height: auto;
  overflow: visible;
}

#smooth-content {
  overflow: visible;
}

#smooth-wrapper.is-touch-device #smooth-content {
  overflow: visible;
}