@import "tailwindcss";

@font-face {
  font-family: "TitleFont";
  src: url("/fonts/EBGaramond-Regular.ttf");
}

@font-face {
  font-family: "thegomies";
  src: url("/fonts/TheGomies.otf");
}

@theme {
  --font-garamond: "TitleFont";
  --font-gomies: "thegomies";
}
